table{
margin-bottom: 20px;
}
table,td,th{
    border: 2px solid blueviolet;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
td:hover{
    background-color: darkcyan;
}
#tf{
    text-align: center;
}
tr:nth-child(2n){
    background-color: rgba(255, 99, 255, 0.5)
}